*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
nav{
    background: cornflowerblue;
}
nav a{
    justify-content: right;
    text-align: right;
    padding: 1em;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:white;
}
body{
    background: cornflowerblue;
}
.upper-container {
    position: relative;
    text-align: center;
}
.upper-container h1{
    font-size: 2em;
}
.upper-container p{
    font-size: 1.5em;
    padding: 1rem;
    border:1px solid white;
    border-radius: 10px;
}
.cat{
    display:block;
    margin: 0 auto;
    height: 5rem;
    width: 16rem;
    animation-name:cat-idle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes cat-idle{
    0%{
        background-image: url("assets/animations/cat/melonGif1.svg")
    }
    50%{
        background-image: url("assets/animations/cat/melonGif2.svg")
    }
    100%{
        background-image: url("assets/animations/cat/melonGif3.svg")
    }
}