*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
nav{
    background: cornflowerblue;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:white;
}
body{
    background: cornflowerblue;
}
.upper-container h1{
    font-size: 2em;
}
.upper-container p{
    font-size: 1.5em;
    padding: 1rem;
    border:1px solid white;
    border-radius: 10px;
}